
	.imm{
        
        height:300px;
        width:85%;
        z-index:-1;
        margin-left:100px;
        }

.hm{
	
	
	color:white;
	font-size:5em;
	margin-top:0px;
	margin-left:34%;
    font-family: fantasy;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 4px #eee846, 2px -2px 6px #feec85, -4px -4px 8px #ffae34, 4px -8px 10px #ec760c, -4px -12px 12px #cd4606, 0 -16px 14px #973716, 2px -18px 18px #451b0e;

	}




form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  position:absolute;
	margin-top:350px;
	margin-left:90px
}


form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #f8f4f4;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  position:absolute;
	margin-top:450px;
	margin-left:90px
  
}
  body{
      background-color: #f3f3e1;   
  }

  #container {
background-color: #f8f4f4;
border: 2px solid ;
height: 275px;
width: 750
	
}
